@media screen and (max-width: 1280px) {
	div.chia-m-mainimg {
		height: 570px;
	}
}
@media screen and (max-width: 1180px) {
	div.chia-m-mainimg {
		height: 520px;
	}
}
@media screen and (max-width: 1080px) {
	div.chia-m-mainimg {
		height: 470px;
	}
}